#mainContent{
	margin-top:6px;
	display:block;
	clear:both;
}
#topRow{
	clear:both;
	height:88px;
	position:relative;
}
#loginF{
	float:right; width:180px; text-align:right; display:none; height:130px; background-color:#F5F5F5; margin-left:5px; border:1px solid #DDD;
	padding:5px;
	z-index:988;
}
#loginF a{
	display:block;
	text-align:left;
}
#uAvatar {float:right; width:80px; margin-right:5px; text-align:right;}
#uAvatar img{ width:60px; border:1px solid #333; padding:1px;}
#TopNavigation{
	background-image:url(../images/topmenu_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #DDD;
	background-color:#DDD;
	height:40px;
}
#TopNavigation a:link,#TopNavigation a:visited{
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	display:block;
	padding-top:12px;
	padding-bottom:14px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	border-left:1px solid #DDD;
}
#TopNavigation a:hover{
	background-image:url(../images/topmenu_bg.jpg);
	background-repeat:repeat-x;
	background-position:0px -39px;
	background-color:#F5F5F5;
}
#TopNavigation a:active{
	background-color:#ddd;
	color:#F00;
}
.button_yellow{
	background-image:url(http://www.yadii.net/templates/yadii/images/button_yellow.png);
	background-repeat:no-repeat;
	font-family:Arial;
	font-weight:bold;
	font-size:13px;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	width:121px;
	cursor:pointer;
}
.button_yellow:hover{
	background-position:0px -25px;
}
.button_blue{
	background-image:url(../images/button_yellow.png);
	background-repeat:no-repeat;
	background-position:0px -25px;
	font-family:Arial;
	font-weight:bold;
	font-size:13px;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	width:121px;
	cursor:pointer;
}
.button_blue:hover{
	background-position:0px 0px;
}

#Submenus{
	display:none;
	padding:5px;
	background-color:#f2f6fb;
	border:1px solid #8ccbfc;
	margin-bottom:6px;
	margin-top:2px;
	position:relative;
}
#Submenus a{
	display:block;
	float:left;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	width:144px;
	margin-right:5px;
}
#Submenus a:hover{
	background-color:#f7941c;
	color:#FFF;
}
.title_arial{
	font-family:Arial;
	font-weight:bold;
	font-size:13px;
	margin-top:15px;
	margin-bottom:8px;
}

#randomVideoPlaying{
	margin-bottom:5px; display:block; padding:5px;border:1px solid #DDD; overflow-y:auto;height:275px;
}
#randomVideoPlaying ul{
	list-style:none;
	margin-left:-30px;
}
#randomVideoPlaying ul li {
	clear:both;
	margin-bottom:10px;
}
#randomVideoPlaying ul li .thumb_img{
	float:left;
	margin-right:5px;
	margin-bottom:10px;
}
#randomVideoPlaying ul li .contentTitle{
	clear:none;
}

#randomPhotoPlaying{
	margin-bottom:5px; display:block; padding:5px;border:1px solid #DDD; overflow-y:auto;height:275px;
}
#randomPhotoPlaying ul{
	list-style:none;
	margin-left:-30px;
}
#randomPhotoPlaying ul li {
	clear:both;
	margin-bottom:10px;
}
#randomPhotoPlaying ul li .thumb_img{
	float:left;
	margin-right:5px;
	margin-bottom:10px;
}
#randomPhotoPlaying ul li .contentTitle{
	clear:right;
}

#relativeVideoPlaying ul{
	list-style:none;
	margin-left:-30px;
}
#relativeVideoPlaying ul li {
	float:left;
	text-align:center;
	width:120px;
	height:180px;
}
#relativeVideoPlaying ul li .thumb_img{
	clear:both;
}
#relativeVideoPlaying ul li .contentTitle{
	
}


div #contentShort ul{
	list-style:none;
	margin-left:-40px;
}
div #contentShort ul li{
	float:left;
	width:130px;
	text-align:center;
	height:180px;
}

#content_leftPanel{
	float:left; border: 1px solid #8ccbfc; background-color:#f2f6fb; padding:5px;
	margin-bottom:12px;
	overflow-y:auto;
	width:150px;
}
#content_leftPanel ul li{
	margin-left:-20px;
}
#content_rightPanel{
	float:right; width:800px;
	margin-bottom:12px;
}
.marqueeZar{
	margin-bottom:6px;height:40px; display:block; color:#DDD; font-size:30px;
}
.marqueeZar a{  color:#F7941c; }
.menu_left{
	padding-left:14px;
	padding-top:3px;
	padding-bottom:3px;
	border-bottom:1px dotted #a9c9e2;
	background-color:#f2f6fb;
	display:block;
	color:#333;
}
.menu_left:hover{
	background-color:#FFFFFF;
	background-position:0px -25px;
	cursor:pointer;
}

#ContentVideoInfoYadii ul{
	list-style:none;
	margin-left:-40px;
	margin-bottom:20px;
	display:block;
	clear:both;
}
#ContentVideoInfoYadii ul li{
	margin-right:10px;
	display:block;
	cursor:pointer;
}
#ContentVideoInfoYadii ul li span{
	display:block;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	font-weight:bold;
	background-color:#F5F5F5;
	border-left:1px solid #DDD;
	border-bottom:1px solid #DDD;
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
#ContentVideoInfoYadii ul li ul{
	display:none;
	clear:both;
	z-index:1;
}
#ContentVideoInfoYadii ul li ul li{
	font-weight:normal;
	background-color:#FFF;
	border-bottom:0px;
	float:left;
	position:relative;
	z-index:2;
	padding:10px;
}
#videoPlaylistButton{
	display:block;
	cursor:pointer;
	text-align:center;
	font-weight:normal;
}
#videoPlaylistButton span{
	background-color:#FFF;
	border:0px;
	font-weight:normal;
}
#addToPlaylist{
	padding:3px;
	font-weight:bold;
	border:1px solid #DDD;
	background-color:#F5f5f5;
	text-align:center;
	width:120px;
	margin-top:5px;
}









/*home start*/
#homeRightColumn{
	width:300px;
	float:right;
}
#homeRightColumn .news{
	background-color:#ffffe5;
	border:1px solid #f7df80;
	padding:5px;
	margin-bottom:6px;
}
	#homeNews{overflow-y:auto;margin-bottom:6px; height:300px;}
#homeLeftColumn{
	padding:5px;
	width:650px;
	float:left;
}
	div #videosBeingWatched{
		display:block;
	}
	div #videosBeingWatched ul{
		list-style:none;
		margin-left:-45px;
	}
	div #videosBeingWatched ul li{
		float:left;
		width:105px;
		text-align:center;
		height:165px;
	}

	#duuchid{
		display:block;
		clear:both;
		width:650px;
	}
	.duuchid{
		float:left;
		width:210px;
		margin-right:5px;
		line-height:17px;
	}
	.homeBox{
		border:1px solid #DDD;
		padding:5px;
		margin-bottom:6px;
		clear:both;
		display:block;
		height:160px;
	}
	.home_title{
		padding-left:10px;
		display:block;
		padding-bottom:4px;
		padding-top:4px;
		font-weight:bold;
		font-size:13px;
		font-family:Arial, Helvetica, sans-serif;
		border:1px solid #DDD;
		border-bottom:0px;
	}
	.home_title span{ font-weight:normal; padding-left:100px; cursor:pointer;}
/*home end*/